*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #212121;
    color: #ffffff;
    line-height: 1.6;
    padding: 20px;
}
nav {
    background: #333;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: -10px;
    width: 100%;
}
h1 {
    color: #ffffff;
    margin-bottom: 20px;
}
p {
    margin-bottom: 15px;
}
ul{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
li{
    list-style: none;
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
}
a {
    color: #28a745;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#home{
    background-color: #444;
    padding: 20px;
    border-radius: 5px;
    height: 80vh;
}
#about{
    background-color: #555;
    padding: 20px;
    border-radius: 5px;
    height: 80vh;
    margin-top: 20px;
}
#contact{
    background-color: #666;
    padding: 20px;
    border-radius: 5px;
    height: 80vh;
    margin-top: 20px;
}
footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    margin-top: 20px;
}
#services{
    background-color: #777;
    padding: 20px;
    border-radius: 5px;
    height: 80vh;
    margin-top: 20px;
}